.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 20px;
  gap: 20px;
  width: 300px;
  border: 3px solid purple;
  border-radius: 4px;

  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
  }
  &__input {
    width: 200px;
    padding: 4px 10px;
    border-radius: 3px;

    &:focus{
        outline:none;
        border-color:dodgerblue;
    }
  }
  &__btn {
    width: 50%;
    padding: 10px;
    background-color: rgb(155, 85, 220);
    color: white;
    border: none;
    border-radius: 1vh;
    cursor:pointer;

    &:hover,
    &:focus {
      background-color: rgb(220, 11, 231);
    }
  }
}
