.contact{
    &__list{
        display: block;
        padding:0;
        gap:20px;
        
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        gap:25px;
        list-style: circle;
    }
    &__btn{
        width:50px;
        height:20px;
        cursor:pointer;
        background-color: rgb(60, 244, 183);
        padding:2px 4px;
        border:none;
        border-radius: 3px;
        color:white;

    }
}

